###############################################################################
# Build
###############################################################################
Bin/
Build/

# Binary version of .rs (resource file)
*.aps
/IDE/VS/Debug
/CI/appveyor.yml
/IDE/VS/01_TestInput/Debug
/IDE/VS/01_TestInput/DisplaySettings.txt
/IDE/VS/01_TestInput/NetworkSettings.txt
/IDE/VS/IncludeFileDependencies1.dgml
/IDE/VS/Game/DisplaySettings.txt
