###############################################################################
# Build
###############################################################################
Bin/
Build/

# Binary version of .rs (resource file)
*.aps
/IDE/VS/01_TestInput
/IDE/VS/Debug
/CI/appveyor.yml
